<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Something something, blah blah blah.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>48930BC</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Since the dawn of time, man has been obsessed with two things: strippers & fried chicken. Unfortunately we don't have any of the former but we have plenty of the latter. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 1988</h4>
                                    <h4 class="subheading">An Icon is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Born the descendents of a humble immigrant farmer and his sexual partner, an old rusty spatula, we dedicated our lives to traversing the globe & trying the most delicious strips & dips imagineable. Our only dream is perfecting the crispiest & juciest batter for fried poultry conceivable.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2023</h4>
                                    <h4 class="subheading">The Digital Age</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">What you see now before you is the culmination of decades of knowledge, preparation and opportunity. Humanities wildest fantasy of the most sexually suggestive yet tasteful fried chicken strips is upon us.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2024</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We open the doors on our first location and welcome you into our warm chickeny bussom with open arms!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
